$primary-color:#FB1021;
$light-red:#E7303D;
$dark:#0F0F23;
$light:#fff;
$light-blue:#9FC3CE;
$light-dark:#3F3D3D;

@mixin h1-style{
    font-weight: 600;
    font-size: 20pt;
}

@mixin h2-style{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.25rem;
}

@mixin  center-content {
    max-width: 1200px;
    margin: auto;
}

@mixin  search-inputs-styles {
    font-weight: 600;
    font-size: 14px;
    height: 30px;
    outline:none;
}

@mixin middle-icons{
    font-weight: 600;
    font-size: 14px;
}

@mixin auth-conainer {
    width:500px;
    height: 425px;
    border:2px solid whitesmoke;
    padding: 25px;
}
@mixin h2-auth {
    text-align: center;
    color:$primary-color;
    margin-bottom: 2rem;
}

@mixin  auth-input-fields {
    height: 40px;
    font-size: 16px;
    padding-left:8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
    border:2px solid rgb(235, 235, 235);
    background-color: rgba(245, 245, 245, 0.641);
    border-radius: 5px;
}