@import '../../constants/theme.scss';

.header{
    width: 100%;
    background-color:$light;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 1;
    margin-bottom: 25px;

    .nav-container{
        width: 100%;
        border-bottom: 3px solid whitesmoke;
        div{
            @include center-content;
        }
    }
}



