@import '../../constants/theme.scss';

.register-root{
    display: flex;
    align-items: center;
    justify-content: center;

    .register{
        @include auth-conainer;
        @include respond-to('small');
        h2{
            @include h2-auth;
        }
        form{
            display: flex;
            flex-direction: column;
            // gap:0.5rem;
            .form-group{
                display: flex;
                flex-direction: column;
                gap:0.6rem;
                input{
                    @include auth-input-fields;                
                }
                p{
                    color:$primary-color;
                }
            }

            .password-container{
                max-height: 70px;
                position:relative !important;
                
                div
                {
                    position: absolute !important;
                    top:-31px;
                    right: 0;
                    
                }
            }
            div{
                display:flex;
                flex-direction: column;
                margin-top: 2rem;
                gap:1rem;
                .sign-in-btn{
                    color:white !important;
                    background-color: $light-red !important;
                    font-weight: 700 !important;
                }
                .sign-up-btn{
                    border:1px solid $light-red !important;
                    color:$light-red !important;
                    font-weight: 700 !important;
                }
            }
        }
    }
}

//responsive design



